.cards .module{
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: 1px solid #d4d7dc;
    background-color: #fff;
    text-align: left;
    padding: 25px;
    
}

.cards .module img{
    margin-bottom: 30px;
}

.cards .module h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.cards .module p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.cards .module a{
    font-size: 14px;
    line-height: 1.5;
    color: #42b3e3;
    font-weight: 600;
}
