footer {
    background: #f2f2f2;
    color: #3f4c57;
    padding: 50px 0;
}

@media only screen and (max-width: 940px) {

}


.footer-main{
    margin-bottom: 50px;
}

.footer-main ul{
    margin: 0;
    margin-bottom: 50px;
}

.footer-main ul li{
    margin-bottom: 5px;
    padding: 0;
}

.footer-main ul li a{
    color: #3f4c57; 
    font-size: 14px;
}

.footer-main .nav-title{
    margin-bottom: 5px;
}

.footer-sub .column{
    margin-left: 0;
}

.footer-sub ul{
    margin: 0;
}

.footer-sub ul li{
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid #3f4c57;
    margin-bottom: 20px;
}
@media only screen and (max-width: 940px) {
    .footer-sub ul li{
        border: none;
        padding: 0;
        display: block;
    }
}


@media only screen and (max-width: 940px) {
    .footer-main  .brand{
        margin-bottom: 30px;
    }
}


.footer-sub ul li a{
   color: #3f4c57;     
}

.social li {
    display: inline-block;
    margin-left: 10px;
}

.social li:first-child{
    margin-left: 0;
}