.hero {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: auto;
    overflow: hidden;
    padding-top: 0;
}


.header-wrapper.hero.nav-open {
    background: white !important;
}

.header-wrapper.hero.nav-open .sub-pages-nav ul li a, .header-main-mobile .sub-pages-nav ul li a {
    text-shadow: none !important;
}

.header-wrapper.hero.nav-open .white_txt.add_dropshadow p, .header-wrapper.hero.nav-open .white_txt.add_dropshadow h1, .header-wrapper.hero.nav-open .white_txt.add_dropshadow h2, .header-wrapper.hero.nav-open .white_txt.add_dropshadow h3, .header-wrapper.hero.nav-open .white_txt.add_dropshadow h4, .header-wrapper.hero.nav-open .white_txt.add_dropshadow h5, .header-wrapper.hero.nav-open .white_txt.add_dropshadow h6 {
    color: #000 !important;
    text-shadow: none !important;
}