.logo-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    /*max-width: 900px;*/
    margin: 0 auto;
}
.logo-list.display_rows li::after {
    clear: both;
    display: table;
    content: "";
}
.logo-list a, .logo-list li {
    display: block;
    text-align: center;
}

.logo-list li {
    margin: 30px 70px;
    max-width: 250px;
    width: 100%;
    height: auto;
    padding: 0;
}
.logo-list img {
    max-width: 160px;
    height: auto;
    width: 100%;
    margin: 30px 70px;
}

.logo-list a img, .logo-list li img {
    margin: 0;
    width: auto;
    /*border-radius: 100px;*/
}
.logo-list li img.circle_crop {
    border-radius: 140px;
}
/* Show as Column */
.logo-list.display_columns figure {
    margin-bottom: 30px;
}
/* Show as Row */

.logo-list.display_rows li {
    max-width: none;
    height: auto;
    width: 100%;
    display: block;
    clear: both;
}
.logo-list.display_rows a, .logo-list.display_rows li {
    margin: 0px;
    text-align: left;
}
.logo-list.display_rows li {
    padding: 30px 0px;
}
.logo-list.display_rows figure {
    max-width: 420px;
    min-height: 170px;
    height: auto;
    width: 30%;
    margin: 30px 20px;
    display: block;
    text-align: center;
    float: left;
}
section.logo-grid .logo-list.display_rows .icons .fab, section.logo-grid .logo-list.display_rows .icons .fas {
    font-size: 100px;
    color: #2C3840;
    vertical-align: middle;
    margin: 30px 0px;
}
.logo-list.display_rows .content {
    max-width: 860px;
    height: auto;
    width: 60%;
    margin: 30px 0px;
    display: block;
    text-align: left;
    float: left;
}
.logo-list.display_rows li h4 {
   font-size: 20px;
}
/*
.logo-list.display_rows ul li:nth-of-type(even) {
    background: #fff;  
    border-top: 1px dotted grey;
}

.logo-list.display_rows li {
    background-color: #F5F5F5;  
    border-bottom: 1px dotted grey;
}

*/

@media only screen and (max-width: 899px) {
    
    .logo-list.display_rows figure {
        max-width: none;
        height: auto;
        width: 100%;
        margin: 0px;
        display: block;
        text-align: center;
        float: none;
    }
    .logo-list.display_rows .content {
        max-width: none;
        height: auto;
        width: 85%;
        margin: 30px auto;
        display: block;
        text-align: center;
        float: none;
    }
    .logo-list.display_rows a, .logo-list.display_rows li {
        margin: 0px;
        text-align: center;
    }
    
}


/*--------- [ LOGO SLIDER ] ------------*/
.logos-slides-center .slick-prev, .logos-slides-center .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: dimgrey;
    border: none;
    outline: none;
    background: transparent;
    z-index: 100;
}
.logos-slides-center .slick-prev:before, .logos-slides-center .slick-next:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: dimgrey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;;
}

.logos-slides-center .image-column img {
    width: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
}
.logos-slides-center .image-column a:hover img {
    filter: grayscale(0.8);
}

.logos-slides-center .image-column.slick-current img {
    filter: grayscale(0);
}
.logos-slides-center .image-column.slick-active img {
   /* filter: grayscale(1);*/
}

.logos-slides-center .image-column img {
    filter: grayscale(1);
}

.logo-col-slides .content {
    text-align: center;
    max-width: 860px;
    margin: 70px auto 40px;    
}

.logo-col-slides  .row.y-center {
    padding: 30px 25px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

@media only screen and (max-width: 939px) {
    .logos-slides-center .image-column img {
        width: auto;
        max-width: 125px !important;
        margin-left: auto;
        margin-right: auto;
        max-height: 100px;
    }
    
}

/*--------- [ FAST FACTS ] ------------*/


.facts-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    /*max-width: 900px;*/
    margin: 0 auto;
}

.facts-list a li {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;    
}

.facts-list a:hover li {
    /*opacity: 0.8;*/
    -webkit-box-shadow: inset 0 -40px 200px 100px rgba(223, 226, 230, 0.9);
    box-shadow: inset 0 -40px 200px 100px rgba(223, 226, 230, 0.9);
    
}
.facts-list a:hover li.card_bg_img {
    -webkit-box-shadow: inset 0 -40px 200px 100px rgba(0, 127, 217, 0.9);
    box-shadow: inset 0 -40px 200px 100px rgba(0, 127, 217, 0.9);
    color: white;
    text-shadow: 0px 0px 3px #1B70AC, 0px 0px 5px #3FA1E5;
}


.facts-list li.hover:hover {
    /*opacity: 0.8;*/
    -webkit-box-shadow: inset 0 -40px 200px 100px rgba(223, 226, 230, 0.9);
    box-shadow: inset 0 -40px 200px 100px rgba(223, 226, 230, 0.9);
    cursor: pointer;
    
}
.facts-list li.card_bg_img.hover:hover {
    -webkit-box-shadow: inset 0 -40px 200px 100px rgba(0, 127, 217, 0.9);
    box-shadow: inset 0 -40px 200px 100px rgba(0, 127, 217, 0.9);
    color: white;
    text-shadow: 0px 0px 3px #1B70AC, 0px 0px 5px #3FA1E5;
     cursor: pointer;
}

.facts-list li {
    max-width: 400px;
    min-height: 285px;
    height: auto;
    width: 100%;
    margin: 15px 13px;
    display: block;
    text-align: center;
    background-color: #EEF1F5;
    padding: 40px 20px;
}
.facts-list li {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 285px;
}
.facts-list li .fas {
    font-size: 55px;
    color: #3FA1E5;
    margin-bottom: 10px;
}

.facts-list li.card_bg_img {    
    -webkit-box-shadow: inset 0 -40px 200px 100px rgba(63, 161, 229, 0.9);
    box-shadow: inset 0 -40px 200px 100px rgba(63, 161, 229, 0.9);
    color: white;
}
.facts-list li.card_bg_img h4, .facts-list li.card_bg_img h5, .facts-list li.card_bg_img p, .facts-list li.card_bg_img .fas {
    color: white;
    text-shadow: 0px 0px 3px #1B70AC, 0px 0px 5px #3FA1E5;
}


.facts-list img {
    max-width: 160px;
    height: auto;
    width: 100%;
    margin: 30px 70px;
}
.facts-list h4, .facts-list h5 {
    color: #3FA1E5;
    text-transform: uppercase;
    line-height: 1em;
}
.facts-list .toptxt_header.normal, .facts-list .btmtxt_header.normal {
    font-size: 22px;
    font-weight: 400;    
}
.facts-list .toptxt_header.big, .facts-list .btmtxt_header.big {
    font-size: 50px;
    font-weight: 800;    
}

.facts-list a img, .facts-list li img {
    margin: 0;
    width: auto;
}

@media only screen and (max-width: 939px) {
    
}