.team_members-block{

}

.member-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.team-member .member-photo img.circle_crop {
    /* To make circle, radius should be at least half the width and height*/
    border-radius: 140px;
}
.rounded {
    /* Make radius 1/4 the width and height*/
    border-radius: 70px;
}

.team-member{
	/*border: 1px solid #f2f2f2;*/
	background: #fff;
	padding: 25px;
    width: 315px;
	/*width: 100%;
	max-width: 315px;*/
	margin: 25px;
}
a .team-member .member-photo img, .team-member a .member-photo img {
   /* border-radius: 150px;*/
    border: 4px solid white;
    padding: 4px;
}
a:hover .team-member .member-photo img, .team-member a:hover .member-photo img, .team-member:hover .member-photo img {
    border: 4px solid #00b3ed;
}

/*a:hover .team-member .member-photo img, .team-member a:hover .member-photo img {
    filter: grayscale(0.8);
}
*/
.team-member.vc{
	border: 1px solid #f2f2f2;
	padding: 25px;
	width: 100%;
	max-width: 265px;
	margin: 25px;
}

.team-member .module{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.team-member .member-photo{
	width: 100%;
	text-align: center;
}

.team-member .member-copy{
	width: 100%;
	text-align: center;
    /*color: #8c959f;*/
    color: #000000;
	font-size: 14px;
}

.team-member .member-copy *{
	font-size: 13px;
}

.team-member .member-copy p:last-child{
	margin-bottom: 0;
}

.team-member .member-name {
    color: #3f4c57;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.team-member .member-title {
    color: #006080;
    font-size: 16px;
    margin-bottom: 17px;
    font-weight: 400;
    text-transform: capitalize;
}

.team-member .member-photo {
	margin-bottom: 20px;
    position: relative;
}

.team-member .member-photo i.fas {
    position: absolute;
    z-index: 30;
    bottom: 30px;
    right: 15%;
    border-radius: 100px;
    background: white;
    padding: 18px;
}

 a:hover .team-member .member-photo i.fas, .team-member a:hover .member-photo i.fas {
    color: #ffc72f;
}

.team-members h2{
    margin-bottom: 80px;
}


element.style {
}
.lity.lity-opened {
    opacity: 1;
}
.lity {
    background: rgba(0, 191, 255, 0.7) !important;
}
.lity-container {
    width: 70% !important;    
    min-height: 420px;
}
.lity-content {
    padding: 0 !important;
}
.lity-container {
    /*background: black !important;*/
    padding: 0;
}
.lity-container .lity-content .member-content {
    width: 70%;
    float: right;
    background: white;
    padding: 3em;
}
.lity-container .lity-content .member-content h1 {
    font-size: 50px !important;
    margin: 0px !important;
}
.lity-container .lity-content .member-content h3 {
    font-size: 24px !important;
    font-weight: normal !important;
}
.lity-container .lity-content .member-photo {
    width: 30%;
    float: left;
    max-height: 100%;
    position: absolute;
    bottom: 0px;
    top: 0;
    height: 100%;
    text-align: center;
}
.lity-container .lity-content .member-photo img {
    width: 80%;
    /*border-radius: 200px;*/
    margin-top: 30px;
}

.lity-container .lity-content .member-photo img.circle_crop {
    border-radius: 200px;
}

@media only screen and (max-width: 1279px) {
    
    .lity-container {
        width: 80% !important;
    }
}
@media only screen and (max-width: 1025px) {
    
   
    .lity-container .lity-content .member-photo {
        width: 100%;
        float: none;
        clear: both;
        max-height: 100%;
        height: 100%;
        text-align: center;
        position: inherit;
    }
    .lity-container .lity-content .member-content {
        width: 100%;
        float: none;
        background: white;
        padding: 3em;
        clear: both;
    }
    
    .lity-container .lity-content .member-photo img {
        width: 30%;
        border-radius: 200px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 939px) {
	.team-member .module{
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}

	.team-member .member-photo{
		width: 100%;
	}

	.team-member .member-copy{
		width: 100%;
	}	
}