.two-col-slides{
    margin-bottom: 150px !important;
}

.two-col-slides section{
	padding: 0;
	line-height: 0;
}

.two-col-slides .row{
	line-height: 0;
}

.two-col-slides .image-column{
	line-height: 0;
}
.two-col-slides .text-column{
	padding: 50px 0;
}

.two-col-slides .slick-dots li button:before{
	font-size: 16px;
}

.two-col-slides .slick-dots li.slick-active button:before{
	color: #00b3ed;
}

.two-col-slides .slick-dots{
	bottom: -55px;
}