/* ==================== */


/* TYPOGRAPHY */


/* ==================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    /*color: #3f4c57;*/
    color: #000000;
}

h1,
.h1 {
    font-size: 70px;
    line-height: 1;
    margin: 30px 0;
    font-weight: 700;
}

@media only screen and (max-width: 939px) {
    h1,
    .h1 {
        font-size: 40px;
        line-height: 1.3;
    }
}

h2,
.h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}

h3,
.h3 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #006080;
}

h4,
.h4 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

h5,
.h5 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

p,
.p1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 30px;
    /*color: #8c959f;*/
    color: #000000;
}

.p2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 2px;
    /*color: #8c959f;*/
    color: #000000;
}

li{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    /*color: #8c959f;*/
    color: #000000;
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
}

.content li:before{
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid #ffc72f;
    border-radius: 150%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 7px;
}

input, textarea{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    /*color: #8c959f;*/
    color: #000000;
}

.italic{
    font-style: italic;
}

.light{
    font-weight: 300;
}

.bold{
    font-weight: 600;
}

strong {
    font-weight: 600;
    /*color: #8c959f;*/
    color: #000000;
}

small {
    font-size: 12px;
    /*color: #8c959f;*/
    color: #000000;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-out;
    color: #00b3ed;
}

.text-column a{
    font-weight: 600;
    box-shadow: 0px 1px 0px #00b3ed;
}

.text-column h3.headline{
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    font-size: 16px;
    color: #3f4c57;
    font-weight: 500;
    line-height: 23px;
}

.text-column h3.headline:before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffc72f;
    border-radius: 150%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 4px;
}

/* ---  Added by HUMTECH --*
*/

.white_txt.add_dropshadow p, 
.white_txt.add_dropshadow h1, 
.white_txt.add_dropshadow h2, 
.white_txt.add_dropshadow h3, 
.white_txt.add_dropshadow h4, 
.white_txt.add_dropshadow h5, 
.white_txt.add_dropshadow h6 {
    color: white;
    text-shadow: 0px 0px 3px grey, 0px 0px 5px #000000;
}

.white_txt.add_dropshadow a {
    color: white;
    text-shadow: 0px 0px 3px grey, 0px 0px 5px #000000;
    text-decoration: underline;
}

.dark_txt.add_dropshadow p, 
.dark_txt.add_dropshadow h1, 
.dark_txt.add_dropshadow h2, 
.dark_txt.add_dropshadow h3, 
.dark_txt.add_dropshadow h4, 
.dark_txt.add_dropshadow h5, 
.dark_txt.add_dropshadow h6 {
    color: black;
    text-shadow: 0px 0px 5px white, 0px 0px 7px #ffffff;
}

.dark_txt.add_dropshadow a {
    text-shadow: 0px 0px 5px white, 0px 0px 7px #ffffff;
    text-decoration: underline;
}
.add_bg_color {
    /*background-color: #EEF1F5;*/
    background-color: #B3C5D9;
    color: black;
}
.add_bg_color h4 a{
    color: #00394c;
    text-decoration: underline;
}
.add_bg_color p {
    color: #333333;
}
.light_bg_color {
    background-color: #EEF1F5;
}