.small-only {
    display: block;
}


.title-row .btn.rectangle {
    color: #4ca2df;
    background: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.title-row a.btn.rectangle {
    text-shadow: none;
}
.title-row .btn.rectangle:nth-of-type(even) {
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
}
.title-row .btn.rectangle:hover {    
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
}
.title-row .btn.rectangle:nth-of-type(even):hover {    
    color: #4ca2df;
    background: #ffffff;
    border: 2px solid #ffffff;
}

@media only screen and (min-width: 940px) {
    .small-only {
        display: none !important;
    }
}

.large-only, .top .super-header, .top .brand {
    display: none;
}

@media only screen and (min-width: 940px) { 
    .large-only, .top .super-header, .top .brand {
        display: block;
    }
    .top.hero span.brief {
        width: 65%;
        display: block;
        margin: 0 auto 80px;
        line-height: .5em;
    }
}
@media only screen and (max-width: 1440px) {
    
    .top.hero {
        min-height: 580px !important;
    }
    .top.hero span.brief {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    .top.hero span.brief p {
        line-height: 1.65em;
    }

    .top.hero h1.headline {
        margin: 20px 0;    
    }
    
    .title-row {
        margin-top: 5rem !important;
    }
    .title-row h1 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 940px) {
    
    .small-only {
        display: block !important;
    }
    .large-only, .top .super-header, .top .brand {
        display: none;
    }   
    .top.hero {
        padding: 60px 10px;
        min-height: 440px !important;
    }
    .top.hero span.brief {
        width: 90%;
        display: block;
        margin: 0 auto;
        line-height: .5em;
    }
    .top.hero span.brief p {
        line-height: 1.45em;
    }


    .top.hero h1.headline {
        margin: 15px 0;    
    }
    
    .title-row {
        margin-top: 3rem ;
    }
    .title-row h1 {
        font-size: 50px;
    }
    
}
@media only screen and (max-width: 768px) {
    .top.hero {
        min-height: 440px !important;    
    }
    
}
@media only screen and (max-width: 640px) {
    .top.hero {
        min-height: 300px !important;
        padding: 60px 10px;
    }
    .top.hero h1.headline {
        margin: 15px 0;
        font-size: 40px;
    }
    .title-row .brief p {
        font-size: 14px;
    }
    .title-row .btn.rectangle {
        color: #4ca2df;
        background: #ffffff;
        border: 2px solid #ffffff;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        padding: 8px 20px;
        padding-left: 20px;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.no-padding-bottom{
    padding-bottom: 0;
}